*{
    box-sizing: border-box;
}
body{
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main{
    background-color: #fff;
    width: 52rem;
    height: 40rem;
    border-radius: 24px 24px 200px 24px;
    margin: auto;
    margin: 6rem;
}
.btn-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    border: none;
    border-radius: 50%;
    background-color: #854DFF;
    font-size: 3rem;
}

.line{
    width: 100%;
    height: 0.1rem;
    background-color: #DCDCDC;

}

.form-wrapper{
    display: flex;
    padding: 3.5rem 3.5rem 0rem 3.5rem;
    gap: 2rem;
}
.form-group{
    display: flex;
    flex-direction: column;
}


form label{
    color: #716F6F;
    padding-bottom: 0.5rem;
    font-size: 0.7rem;
    font-weight: bold;
}


input {
    width: 10rem;
    height: 4.5rem;
    border-radius: 8px;
    border: 1px solid #DCDCDC;
    color: #000;
    font-weight: bold;
    font-size: 2rem;
    padding: 0.75rem 1.5rem;
    transition: 0.3s;
}


input:focus {
    outline: 2px solid #854DFF;
  }


small{
    color: #FF5959;
    visibility: visible;
    margin-top: 8px;
    font-style: italic;
    font-weight: lighter;
}

.error{
    border: 1px solid #FF5959;
}

.btn-wrapper{
    display: flex;
    padding: 0rem 3.5rem;
    align-items: center;
}


/* result */
.result-wrapper{
    display: flex;
    padding: 0rem 3.5rem 0rem 3.5rem;
    /* font-family: "Poppins", sans-serif; */
    flex-direction: column;
    font-size: 6rem;
    font-weight: bolder;
    font-style: italic;
}

.result-wrapper span{
    color: #854DFF;
}
#result{
    margin: 0;
}

#my-name, #frontendmentor {
    text-decoration: none;
    font-style: italic;
}


/* responsive */

@media screen and (max-width: 850px) {
    .main {
        width: 45rem;
        height: 35rem;
    }
    .btn-submit{
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
    }
    .result-wrapper{
        font-size: 5rem;
    }
  }

  @media screen and (max-width: 760px){
    .main{
        margin: 2rem;
        width: 40rem;
        height: 30rem;
    }
    .form-wrapper{
        display: flex;
        padding: 2.5rem 0rem 0rem 2.5rem;
        gap: 1rem;
  }

    .btn-wrapper{
        padding: 2.5rem 2.5rem;
    }
    .btn-submit{
        margin: -60%;
    }

    
    .result-wrapper{
    font-size: 4rem;
    }

    input{
        font-size: 1.5rem;
        padding: 0.50rem 1rem;
    }
    
}

@media screen and (max-width: 600px){
    .main{
        margin: 2rem;
        width: 30rem;
        height: 30rem;
    }
   

    .result-wrapper{
    font-size: 3rem;
    }

    input{
        width: 8rem;
        height: 4rem;
        font-size: 1.5rem;
        padding: 0.50rem 1rem;
    }
  
    
}

@media screen and (max-width: 500px){
    .main{
        margin: 2rem;
        width: 22rem;
        height: 30rem;
    }

    .form-wrapper{
        display: flex;
        padding: 2rem 0rem 0rem 2rem;
        gap: 1rem;
  }

    .btn-wrapper{
        padding: 3rem 2rem;
    }

    .result-wrapper{
    font-size: 3rem;
    }

    input{
        width: 5.5rem;
        height: 3.5rem;
        font-size: 1rem;
        padding: 0.50rem 1rem;
    }
    
    .attribution{
        font-size: 0.8rem;
    }
    
}